p:hover{
  color:rgb( 102, 102, 102)
}
#Blender {
    font-family: calibri;
    font-size: 6.25em;
    color: white;
    text-align: center;
    margin-bottom: 25px;
}
#FirstLine {
    font-family: calibri;
    color: white;
    font-size: 1.875em;
    text-align: center;
    margin-bottom: 25px;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: rgb( 102, 102, 102)
}
a:active {
    text-decoration: none;
    color: rgb( 102, 102, 102)
}
#Portofoliu {
  font-family: calibri;
  color: white;
  font-size: 1.875em;
  text-align: center;

  padding-bottom: 30px;

}
